.fragment{
  padding: @size-xs @size-xs @size-xs @size-xs;
  .rounded-corners;
  .transition(~"border-color, box-shadow");
  border: 1px solid transparent;
  &:hover, &.is-focused{
    border-color: @light-gray;
    .shadow-sm--light;
  }
}
.fragment-placeholder{
  position: relative;
  background-color: @blue;
}
.fragment-placeholder:before{
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: ~"calc(100% - 20px)";
  height: ~"calc(100% - 20px)";
  border: 2px dashed fade(@white,50%);
  .rounded-corners;
}
.fragment .textarea{
  width: 100%;
}

.js-nestable-handle{
  cursor: move;
}
