.o-media{
  display: flex;
  align-items: flex-start;
}
.o-media--inline{
  display: inline-flex;
}
.o-media--centered{
  margin-left: 50%;
  transform: translate(-50%,0);
}
.o-media--padded{
  padding: @size-md;
}
.o-media__figure{
  margin-right: 1em;
}
.o-media__body{
  flex: 1;
}
