.fragment {
	overflow: hidden;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	border-radius: .4rem;
	transition-property: border-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0;
	border: 1px solid transparent;
}

.fragment:hover,
.fragment.is-focused {
	border-color: #e0e6ed;
	box-shadow: 0 1px 2px rgba(15, 20, 25, 0.075);
}

.fragment-placeholder {
	position: relative;
	background-color: #417de1;
}

.fragment-placeholder:before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	border: 2px dashed rgba(255, 255, 255, 0.5);
	border-radius: .4rem;
}

.fragment .textarea {
	width: 100%;
}

.js-nestable-handle {
	cursor: move;
}

.fragment-settings-button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -10px;
	opacity: 0;
	padding: 5px 5px 20px 20px;
	background-image: radial-gradient(at top right, #ffffff 0, #ffffff 50%, transparent 80%);
	z-index: 999;
	transition: opacity, 0.5s, ease, top, 0.5s, ease;
}

.fragment:hover .fragment-settings-button {
	top: 0;
	opacity: 1;
}

.fragment-settings-button.is-toggled {
	top: 0;
	opacity: 1;
	background: transparent;
}

.fragment-settings-content {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	top: 0;
	left: 0;
	border-radius: .4rem;
	background-color: #f2f6fa;
	z-index: 99;
	opacity: 0;
	transition: opacity .3s ease, -webkit-transform 0 .3s;
	transition: opacity .3s ease, transform 0 .3s;
}

.fragment-settings-content.is-toggled {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	transition: opacity .3s ease;
}

