.o-togglable { /* CLOSE MODULE */
}

.o-togglable:not(.is-toggled) {
	display: none;
}

.o-togglable--test {
	color: red;
}

.o-togglable-child__test {
	color: red;
}

.o-togglable-test__test--test--test--test {
	color: red;
}

