html {
  font-size: 62.5%;
  /* now 1rem = 10px*/
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: block;
}
a {
  text-decoration: none;
  display: inline-block;
}
input,
textarea,
select {
  font-family: inherit;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
}
div,
section {
  position: relative;
}
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column--xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333333%;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
}
.column--xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66666667%;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
}
.column--xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.column--xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
}
.column--xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666667%;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
}
.column--xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.column--xs-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333333%;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
}
.column--xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666667%;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
}
.column--xs-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}
.column--xs-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333333%;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
}
.column--xs-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666667%;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
}
.column--xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.offset--xs-1 {
  margin-left: 8.33333333%;
}
.offset--xs-2 {
  margin-left: 16.66666667%;
}
.offset--xs-3 {
  margin-left: 25%;
}
.offset--xs-4 {
  margin-left: 33.33333333%;
}
.offset--xs-5 {
  margin-left: 41.66666667%;
}
.offset--xs-6 {
  margin-left: 50%;
}
.offset--xs-7 {
  margin-left: 58.33333333%;
}
.offset--xs-8 {
  margin-left: 66.66666667%;
}
.offset--xs-9 {
  margin-left: 75%;
}
.offset--xs-10 {
  margin-left: 83.33333333%;
}
.offset--xs-11 {
  margin-left: 91.66666667%;
}
.offset--xs-12 {
  margin-left: 100%;
}
.column--sm-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333333%;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
}
.column--sm-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66666667%;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
}
.column--sm-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.column--sm-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
}
.column--sm-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666667%;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
}
.column--sm-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.column--sm-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333333%;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
}
.column--sm-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666667%;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
}
.column--sm-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}
.column--sm-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333333%;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
}
.column--sm-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666667%;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
}
.column--sm-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.offset--sm-1 {
  margin-left: 8.33333333%;
}
.offset--sm-2 {
  margin-left: 16.66666667%;
}
.offset--sm-3 {
  margin-left: 25%;
}
.offset--sm-4 {
  margin-left: 33.33333333%;
}
.offset--sm-5 {
  margin-left: 41.66666667%;
}
.offset--sm-6 {
  margin-left: 50%;
}
.offset--sm-7 {
  margin-left: 58.33333333%;
}
.offset--sm-8 {
  margin-left: 66.66666667%;
}
.offset--sm-9 {
  margin-left: 75%;
}
.offset--sm-10 {
  margin-left: 83.33333333%;
}
.offset--sm-11 {
  margin-left: 91.66666667%;
}
.offset--sm-12 {
  margin-left: 100%;
}
.column--md-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333333%;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
}
.column--md-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66666667%;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
}
.column--md-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.column--md-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
}
.column--md-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666667%;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
}
.column--md-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.column--md-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333333%;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
}
.column--md-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666667%;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
}
.column--md-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}
.column--md-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333333%;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
}
.column--md-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666667%;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
}
.column--md-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.offset--md-1 {
  margin-left: 8.33333333%;
}
.offset--md-2 {
  margin-left: 16.66666667%;
}
.offset--md-3 {
  margin-left: 25%;
}
.offset--md-4 {
  margin-left: 33.33333333%;
}
.offset--md-5 {
  margin-left: 41.66666667%;
}
.offset--md-6 {
  margin-left: 50%;
}
.offset--md-7 {
  margin-left: 58.33333333%;
}
.offset--md-8 {
  margin-left: 66.66666667%;
}
.offset--md-9 {
  margin-left: 75%;
}
.offset--md-10 {
  margin-left: 83.33333333%;
}
.offset--md-11 {
  margin-left: 91.66666667%;
}
.offset--md-12 {
  margin-left: 100%;
}
.column--lg-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333333%;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
}
.column--lg-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66666667%;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
}
.column--lg-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.column--lg-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
}
.column--lg-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666667%;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
}
.column--lg-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.column--lg-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333333%;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
}
.column--lg-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666667%;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
}
.column--lg-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}
.column--lg-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333333%;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
}
.column--lg-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666667%;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
}
.column--lg-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.offset--lg-1 {
  margin-left: 8.33333333%;
}
.offset--lg-2 {
  margin-left: 16.66666667%;
}
.offset--lg-3 {
  margin-left: 25%;
}
.offset--lg-4 {
  margin-left: 33.33333333%;
}
.offset--lg-5 {
  margin-left: 41.66666667%;
}
.offset--lg-6 {
  margin-left: 50%;
}
.offset--lg-7 {
  margin-left: 58.33333333%;
}
.offset--lg-8 {
  margin-left: 66.66666667%;
}
.offset--lg-9 {
  margin-left: 75%;
}
.offset--lg-10 {
  margin-left: 83.33333333%;
}
.offset--lg-11 {
  margin-left: 91.66666667%;
}
.offset--lg-12 {
  margin-left: 100%;
}
.svg-icon-sprite {
  display: none;
}
[class*="icon-"] {
  display: block;
  position: relative;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  fill: #ffffff;
}
.icon--left {
  float: left;
}
.icon--dark {
  fill: #0f1419;
}
.icon--white {
  fill: #ffffff;
}
@-webkit-keyframes ripple {
  
}
@keyframes ripple {
  
}
.navigation {
  position: absolute;
  height: 100%;
  width: 27rem;
  background: #2c3239;
  color: #ffffff;
}
.navigation:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 9;
  left: 26.6rem;
  height: 100%;
  width: .4rem;
  background-color: rgba(15, 20, 25, 0.25);
}
.menu {
  width: 100%;
}
.menu--overflow {
  height: calc( 100% - 2 * ( 1.6rem + 4rem) );
  margin-top: 5.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.menu--fixed-top {
  top: 0;
}
.menu--fixed-bottom {
  bottom: 0;
}
.menu-item {
  display: block;
  position: relative;
  width: 100%;
  font-weight: 300;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.menu-item.is-active {
  background: #23282d;
}
.menu-item.is-active .menu-link {
  background: #417de1;
}
.menu-item.is-active .menu-link:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  border-style: solid;
  border-width: 0.8rem;
  border-color: #417de1 transparent transparent transparent;
  bottom: -1.6rem;
}
.menu-link {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ffffff;
  display: block;
  position: relative;
  width: 100%;
  height: 5.6rem;
  padding: 2rem 3.2rem 1.8rem 1rem;
}
.menu-link:hover {
  background: #282d33;
}
.menu-li-item .menu-li-item .menu-link {
  padding-left: 2.4rem;
}
.menu-li-item .menu-li-item .menu-li-item .menu-link {
  padding-left: 4rem;
}
.menu-li-item .menu-li-item .menu-li-item .menu-li-item .menu-link {
  padding-left: 5.6rem;
}
.menu-li-item {
  display: block;
  position: relative;
}
.navigation > .menu > .menu-li-item > .menu:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  border: 1px dotted rgba(255, 255, 255, 0.1);
  border-width: 0 0 0 1px;
  top: -0.5rem;
  left: 1.6rem;
  width: 1px;
  height: calc(99.9%);
}
.menu-link-text {
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  width: calc( 100% - 2rem * 2 );
}
.menu-link-fade-right:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 100%;
  background-image: -webkit-linear-gradient(left, rgba(44, 50, 57, 0), #2c3239 95%);
  background-image: linear-gradient(left, rgba(44, 50, 57, 0), #2c3239 95%);
}
.is-active .menu-link-fade-right:before {
  background-image: -webkit-linear-gradient(left, rgba(65, 125, 225, 0), #417de1 95%);
  background-image: linear-gradient(left, rgba(65, 125, 225, 0), #417de1 95%);
}
.menu-link-fade-right--dark:before {
  background-image: -webkit-linear-gradient(left, rgba(35, 40, 45, 0), #23282d 95%);
  background-image: linear-gradient(left, rgba(35, 40, 45, 0), #23282d 95%);
}
.menu-link-fade-right--dark:hover:before {
  background-image: -webkit-linear-gradient(left, rgba(31, 35, 39, 0), #1f2327 95%);
  background-image: linear-gradient(left, rgba(31, 35, 39, 0), #1f2327 95%);
}
.menu-link [class*="icon-"] {
  margin-top: -0.2rem;
}
.menu--dark {
  position: fixed;
  width: 27rem;
  z-index: 10;
  background: #23282d;
}
.menu--dark .menu-link:hover {
  background: #1f2327;
}
[class*="menu--fixed"] {
  position: fixed;
  width: 27rem;
  left: 0;
  z-index: 10;
}
.menu-item-status .icon-eye {
  display: none;
}
.menu-item-status .icon-eye-closed {
  display: block;
}
.menu-item-status.is-published .icon-eye {
  display: block;
}
.menu-item-status.is-published .icon-eye-closed {
  display: none;
}
.menu-item-options {
  position: relative;
  box-shadow: inset 0 -0.1rem 0.1rem rgba(15, 20, 25, 0.05), inset 0 0.1rem 0.1rem rgba(15, 20, 25, 0.15);
  background-color: #23282d;
  display: none;
}
.menu-item-options.is-active {
  display: block;
}
.menu-item-options-link {
  position: relative;
  display: block;
}
.menu-item-options-link:before,
.menu-item-options-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 5.6rem;
  width: 3rem;
  right: 1.5rem;
  background-image: -webkit-linear-gradient(left, rgba(35, 40, 45, 0), rgba(35, 40, 45, 0.75) 50%, #23282d);
  background-image: linear-gradient(left, rgba(35, 40, 45, 0), rgba(35, 40, 45, 0.75) 50%, #23282d);
}
.menu-item-options-link .link-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 4.6rem;
  padding: 1rem 1.6rem 1rem 5rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ffffff;
  font-weight: 400;
}
.menu-item-options-link .icon-link {
  z-index: 10;
  position: absolute;
  top: 1.6rem;
  left: 2.4rem;
}
/* TODO: Shame */
.menu-item-options-bottom {
  width: 100%;
  display: block;
  text-align: right;
}
.menu-item-options-delete {
  font-size: 1.3rem;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem 1rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
}
.menu-item-options-delete::before {
  position: absolute;
  top: -2px;
  left: -5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #e64b3c;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transform: scale(0.8333);
  -ms-transform: scale(0.8333);
      transform: scale(0.8333);
}
.menu-item-options-delete:hover::before,
.menu-item-options-delete:focus::before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
.menu-link--no-icon {
  padding-left: 1.5rem;
}
.menu-link--icon-right {
  padding-right: 2rem;
}
.menu-link--icon-right:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: calc(2rem + (2 * 2rem) );
  height: 100%;
  width: 2em;
}
.menu-link-icon {
  -webkit-transition-property: background, color;
          transition-property: background, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(2rem + (2 * 2rem) );
  height: 100%;
  padding: 1.8rem 2rem;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.75);
}
.menu--yellow {
  background-color: #ffd200;
  box-shadow: 0 2px 0px rgba(15, 20, 25, 0.25);
}
.menu--yellow:before {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 9;
  left: 26.6rem;
  height: 100%;
  width: .4rem;
  background-color: rgba(15, 20, 25, 0.03);
}
.menu--yellow .menu-link {
  font-weight: 600;
  color: #0f1419;
}
.menu--yellow .menu-link:hover {
  background-color: #f5ca00;
}
.menu--yellow .menu-link-icon {
  background-color: #f0be00;
}
.menu--dark {
  background-color: #23282d;
  box-shadow: 0 -1px 1px rgba(15, 20, 25, 0.15);
}
.menu--dark:before {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  bottom: 0;
  z-index: 9;
  left: 26.9rem;
  height: 100%;
  width: .1rem;
  background-color: rgba(15, 20, 25, 0);
}
.menu--dark .menu-link {
  color: #ffffff;
}
.menu--dark .menu-link-icon {
  background-color: #1c2024;
}
.content-body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 27rem;
  max-height: 100%;
}
.editor-section {
  margin: 1rem;
  width: calc(100% - 1rem*2);
  border-radius: .3rem;
  -webkit-transition-property: border-color, box-shadow;
          transition-property: border-color, box-shadow;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  border: 1px solid transparent;
}
.editor-section:hover {
  border-color: #e0e6ed;
}
.editor-section:hover.drag-is-active {
  box-shadow: 0 1px 2px rgba(15, 20, 25, 0.075);
}
.editor-section:hover.child-is-active {
  border-color: #f2f6fa;
}
.editor-section-dragHandler {
  z-index: 10;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 2.1rem;
  height: 100%;
  background-color: #f2f6fa;
  -webkit-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.editor-section-dragHandler:hover {
  cursor: move;
}
.editor-section-dragHandler .icon-drag {
  position: absolute;
  top: 50%;
  left: calc(50% - 1px);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #c0ccda;
  width: 1.2rem;
}
.editor-section:hover .editor-section-dragHandler {
  opacity: 1;
}
.editor-inner-section {
  margin: 0.5rem 0.5rem 0.5rem 2.5rem;
}
.fragment {
  padding: 2rem 2rem 2rem 2rem;
  border-radius: .3rem;
  -webkit-transition-property: border-color, box-shadow;
          transition-property: border-color, box-shadow;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  border: 1px solid transparent;
}
.fragment:hover {
  border-color: #e0e6ed;
}
#content {
  margin-left: 27rem;
  display: none;
}
