/*--------------------------*/
/* MARK EDITOR */
#content .cm-s-mark{
	font-size: 2em;
	width: 100%;
	min-height: 6em;
	border: none;
}
#content .CodeMirror-scroll{
	min-height: 6em;
}
#content .cm-s-mark .CodeMirror-cursor {
	background-color: rgb(65,125,225);
}
#content .cm-s-mark .CodeMirror-placeholder{
	color: rgba(0,0,0,0.5);
	font-style: italic;
}
#content .edit-options{
	background-color: rgb(35,35,35);
}
#content .edit-options .panel-arrow:before{
	border-color: rgb(35,35,35) transparent transparent transparent;
}
#content .edit-options.from-top .panel-arrow:before{
	border-color: transparent transparent rgb(35,35,35) transparent;
}
#content .edit-options .mark-icon{
	/* default color */
	fill: rgb(200,200,200);
}
#content .edit-options .mark-button:hover .mark-icon{
	/* hover color */
	fill: rgb(255,255,255);
}
.edit-options.strong .strong .mark-icon, .edit-options.em .em .mark-icon, .edit-options.header1 .header1 .mark-icon,
.edit-options.header2 .header2 .mark-icon, .edit-options.quote-1 .quote .mark-icon .quote-part-1, .edit-options.quote-2 .quote .mark-icon,
.edit-options.link .link .mark-icon, .edit-options.code-1 .code .mark-icon .code-part-1, .edit-options.code-2 .code .mark-icon{
	/* active color */
	fill: rgb(65,125,225) !important;
}
/*--------------------------*/
/* Layout */
#headline{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	padding: 0 3.2em 0 12.8em;
}
#content .content-wrapper{
	margin-top: 9.6em;
	width: 100%;
}
/* options */
.options{
	position: absolute;
	top: 0;
	right: 1em;
	padding: 1em;
}
/* page settings */
.page-settings{
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border-width: 3em;
	border-style: solid;
	border-color: rgb(245,245,245) transparent transparent rgb(245,245,245);
	transition: border .5s ease .0s;
	cursor: pointer;
}
.page-settings .icon-settings{
	position: relative;
	overflow: hidden;
	height: 0;
	height: 3em;
	width: 3em;
	left: -1.2em;
	top: -1.2em;
	opacity: 0;
	transition: opacity .4s ease .1s, left .4s ease .1s, top .4s ease .1s;	
}
.page-settings:hover .icon-settings{
	opacity: 1;
	top: -2.2em;
	left: -2.2em;
}
.page-settings:before, .page-settings:after{
	content: "";
	display: block;
	position: absolute;
	top: -3em;
	left: -3em;
	height: 0;
	width: 0;
	border-width: 0;
	border-style: solid;
	border-color: rgb(35,40,45) transparent transparent rgb(35,40,45);
	transition: border .5s ease .0s;
}
.page-settings:after{
	z-index: 1;
	border-color: transparent rgb(65,125,225) rgb(65,125,225) transparent;
}
.page-settings .icon-settings{
	z-index: 1;
	width: 2em;
	height: 2em;
}
.page-settings:hover:before, .page-settings:hover:after{
	border-width: 3em;
}
.page-settings:hover .icon{
	opacity: 1;
}
/*--------------------------*/
/* content */
#content .headline{
	font-size: 6.4em;
	font-weight: 600;
	font-family: "Gotham", "Helvetica Neue", Helvetica, Sans-serif;
	border: 0;
	width: 100%;
	outline: none;
	margin-bottom: .32em;
}
/* settings */
#content .settings{
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 4em;
	height: 4em;
	transition: opacity .25s ease .0s;
	z-index: 10;
	cursor: pointer;
	overflow: hidden;
}
#content .block > .settings{
	left: auto;	
	right: 0;
	background-image: linear-gradient( top right, rgba(255,255,255,1), rgba(255,255,255,0) 70%);
	background-image: -webkit-linear-gradient( top right, rgba(255,255,255,1), rgba(255,255,255,0) 70%);
}
#content .content-section:hover > .settings, #content .block:hover > .settings{
	opacity: 1;
	transition: opacity .75s ease .0s;
}
#content .settings .icon-settings{
	fill: rgb(200,200,200);
	top: 0;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	transition: fill .5s ease .0s, transform .5s ease .0s;
	-webkit-transition: fill .5s ease .0s, -webkit-transform .5s ease .0s;
	transform: translate(-100%,-100%);
	-webkit-transform: translate(-100%,-100%);
}
#content .block > .settings .icon-settings{
	left: auto;
	right: -2.5em;
	transform: translate(100%,-100%);
	-webkit-transform: translate(100%,-100%);
}
#content .content-section:hover > .settings .icon-settings{
	transform: translate(.5em,.5em);
	-webkit-transform: translate(.5em,.5em);	
}
#content .block:hover > .settings .icon-settings{
	transform: translate(-.5em,.5em);
	-webkit-transform: translate(-.5em,.5em);	
}
#content .settings:hover .icon-settings{
	fill: rgb(150,150,150);
}
/* sections */
.content-section{
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	display: block;
	position: relative;
	padding: 1em 3.2em .5em 12.8em;
}
.content-section:before, .content-section:after{
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	content: "";
	width: 25em;
	height: 20em;
	z-index: 1;
	background-image: linear-gradient( top left, rgba(245,245,245,1), rgba(245,245,245,0) 45%);
	background-image: -webkit-linear-gradient( top left, rgba(245,245,245,1), rgba(245,245,245,0) 45%);
}
.content-section:after{
	height: 1px;
	background-image: linear-gradient( left, rgba(240,240,240,1), rgba(250,250,250,0) 50%);
	background-image: -webkit-linear-gradient( left, rgba(240,240,240,1), rgba(250,250,250,0) 50%);
}
.content-section .section-drag-handle{
	height: 100%;
	width: 4em;
	display: block;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	cursor: move;
}
.content-section .section-drag-handle:before{
	content: "";
	opacity: 0;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -.8em;
	left: 1em;
	height: 1.6em;
	width: 12px;
/*  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), 
      linear-gradient(-45deg, rgba(0,0,0,0.1) 25%, transparent 25%), 
      linear-gradient(45deg, transparent 75%, rgba(0,0,0,0.1) 75%), 
      linear-gradient(-45deg, transparent 75%, rgba(0,0,0,0.1) 75%);
  background-size: 2px 2px;
  background-position: 0 0, 1px 0, 1px -1px, 0px 1px;*/
	background-image: linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 2px, transparent 2px, transparent );
	background-size: 4px 100%;
	background-position: 0 0;
	transition: opacity .5s ease .0s;
}
.content-section:hover .section-drag-handle:before{
	opacity: 1;
}
.block{
	z-index: 1;
	display: inline-block;
	padding: .5em .5em .5em 1.5em;
	position: relative;
	width: 100%;
	border-radius: 1px;
	transition: box-shadow .4s ease .0s;
	box-shadow: 0 0 0 1px rgba(245,245,245,0);
	margin: 0 0 .5em 0
}
.block:hover{
	box-shadow: 0 0 0 1px rgba(245,245,245,1);
}
.block .drag-handle{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1.5em;
	background-color: rgb(245,245,245);
	opacity: 0;
	transition: opacity .5s ease .0s;
	cursor: move;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}
.block:hover .drag-handle{
	opacity: 1;
}
.block .drag-handle:before{
	content: "";
/*	display: block;*/
	position: absolute;
	top: 50%;
	margin-top: -.8em;
	left: .2em;
	height: 1.6em;
	width: 1.2em;
	background-image: linear-gradient(90deg, rgb(215,215,215), rgb(215,215,215) 2px, transparent 2px, transparent );
	background-size: 4px 100%;
	background-position: 0 0;
}
.block .handle{
	width: 2em;
	height: 100%;
	top: 0;
	right: -1em;
	display: block;
	position: absolute;
	cursor: col-resize;
	opacity: 0;
	transition: opacity .4s ease .0s;
}
.block .handle:before{
	content: "";
	display: block;
	position: absolute;
	left: .8em;
	top: 50%;
	margin-top: -.8em;
	height: 1.6em;
	width: .5em;
	background-color: rgb(215,215,215);
	border-radius: .4em;
}
.block:hover .handle{
	opacity: 1;
}
#add_section{
	opacity: 0;
	transition: opacity .5s ease .0s;
}
#add_section:hover{
	opacity: 1;
}
.add-content{
	position: relative;
	display: block;
	padding: 1em;
	margin-bottom: .5em;
	text-align: center;
}
.add-block.text{
	cursor: pointer;
	background-color:rgb(235,235,235);
	position: relative;
	display: inline-block;
	font-size: 10em;
	line-height: 1em;
	padding: .1em;
	font-weight: bold;
}
/*--------------------------*/
/* Drag & drop */
.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
	padding: 20px;
}
