:root{
    --yellow: color(var(--oc-yellow-4) blue(- 20));
    --yellow-orange: var(--oc-yellow-6);
    --blue: color(var(--oc-indigo-8) green(+ 15));
    --light-blue: var(--oc-blue-5);
    --teal: var(--oc-teal-3);
    --red: var(--oc-red-7);
    --green: var(--oc-green-7);

    --black: color(var(--oc-gray-8) blue(+ 5) lightness(- 15));
    --dark-gray: color(var(--oc-gray-8) blue(+ 5));
    --gray: var(--oc-gray-7);
    --medium-gray: var(--oc-gray-6);
    --light-gray: var(--oc-gray-4);
    --white-gray: var(--oc-gray-1);
    --white-tint: var(--oc-gray-0);
    --white: rgb(255,255,255);

    /* gradients */
    --gradient-yellow: linear-gradient(-135deg, var(--yellow), var(--yellow-orange));
    --gradient-blue: linear-gradient(-135deg, var(--light-blue), var(--blue));
    --gradient-teal: linear-gradient(-135deg, var(--teal), var(--blue));

    /* text colors */
    --text-black: var(--black);
    --text-dark-gray: var(--dark-gray);
    --text-gray: var(--gray);
    --text-light-gray: var(--medium-gray);
    --text-white: var(--white);
    --text-blue: var(--blue);
    --text-red: var(--red);
    --text-green: var(--green);
}
