:root{
    --shadow-default: 0 .2rem .5rem color(var(--black) alpha(15%));
    --shadow-light: 0 .2rem .5rem color(var(--black) alpha(10%));
    --glow-light: 0 .1rem .5rem 0 color(var(--black) alpha(10%));
    --shadow-above-light: 0 .5rem 3rem color(var(--black) alpha(25%));
}
