.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.column--sm-1 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.column--sm-2 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.offset--sm-1 {
  margin-left: 50%;
}
@media (min-width: 1000px) {
  .column--md-1 {
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
  }
  .column--md-2 {
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
  }
  .column--md-3 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .column--md-4 {
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
  }
  .column--md-5 {
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
  }
  .column--md-6 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .offset--md-1 {
    margin-left: 16.66666667%;
  }
  .offset--md-2 {
    margin-left: 33.33333333%;
  }
  .offset--md-3 {
    margin-left: 50%;
  }
  .offset--md-4 {
    margin-left: 66.66666667%;
  }
  .offset--md-5 {
    margin-left: 83.33333333%;
  }
}
@media (min-width: 1400px) {
  .column--lg-1 {
    -webkit-flex: 0 0 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
  }
  .column--lg-2 {
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
  }
  .column--lg-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .column--lg-4 {
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
  }
  .column--lg-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
  }
  .column--lg-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .column--lg-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
  }
  .column--lg-8 {
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
  }
  .column--lg-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .column--lg-10 {
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
  }
  .column--lg-11 {
    -webkit-flex: 0 0 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
  }
  .column--lg-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .offset--lg-1 {
    margin-left: 8.33333333%;
  }
  .offset--lg-2 {
    margin-left: 16.66666667%;
  }
  .offset--lg-3 {
    margin-left: 25%;
  }
  .offset--lg-4 {
    margin-left: 33.33333333%;
  }
  .offset--lg-5 {
    margin-left: 41.66666667%;
  }
  .offset--lg-6 {
    margin-left: 50%;
  }
  .offset--lg-7 {
    margin-left: 58.33333333%;
  }
  .offset--lg-8 {
    margin-left: 66.66666667%;
  }
  .offset--lg-9 {
    margin-left: 75%;
  }
  .offset--lg-10 {
    margin-left: 83.33333333%;
  }
  .offset--lg-11 {
    margin-left: 91.66666667%;
  }
}
