.o-flex{
    display: flex;
    flex-direction: column;
}
.o-flex--row{
    flex-direction: row;
    align-items: center;
}
.o-flex__item--fill{
    flex: 1;
}
.o-flex__item--auto{
    flex: 0 0 auto !important;
}
.o-flex__item--align-left{
    align-self: flex-start;
}
.o-flex__item--align-right{
    align-self: flex-end;
}
.o-flex__item--align-center{
    align-self: center;
}
