.o-flex-bar{
    display: flex;
    flex-flow: row wrap;
}
.o-flex-bar--centered{
    justify-content: center;
}
.o-flex-bar--right{
    justify-content: flex-end;
}
.o-flex-bar--spaced{
    justify-content: space-between;
}
.o-flex-bar--middle{
    align-items: center;
}
.o-flex-bar__item{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.o-flex-bar__item--right{
    margin-left: auto;
}
.o-flex-bar__item--fill{
    flex: 1;
}
