.o-form{
    margin-top: 2rem;
}
.o-form__section{
    border-radius: .3rem;
    border: .1rem solid var(--light-gray);
    padding: .5rem;
    margin-top: 1rem;
}
/* --------------------------
 * INPUT
 */
.o-input{
    position: relative;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
}
.o-input__input, .o-input__textarea{
    background-color: transparent;
    font-size: var(--type-size-md);
    color: var(--text-black);
    padding: 1rem 1rem 1rem .5rem;
    display: block;
    width: 100%;
    border: none;
    border-bottom: .1rem solid color(var(--black) alpha(15%));
}
.o-input__input:focus, .o-input__textarea:focus {
    outline:none;
    color: var(--text-black);
}
/*Textarea specials*/
.o-input__textarea{
    margin-top: 1rem;
    padding-top: 0;
    resize: none;
    height: 10rem;
}
.o-input__label{
    color: color(var(--text-black) alpha(25%));
    font-size: var(--type-size-md);
    pointer-events: none;
    position: absolute;
    left:5px;
    top: 3.5rem;
    transition: 0.2s ease all;
}
/* active state */
.o-input__input:focus ~ .o-input__label, .o-input__input:not(.is-empty) ~ .o-input__label, .o-input__textarea:focus ~ .o-input__label, .o-input__textarea:not(.is-empty) ~ .o-input__label{
    top: 1.5rem;
    font-size: var(--type-size-sm);
}
.o-input__input:focus ~ .o-input__label, .o-input__textarea:focus ~ .o-input__label{
    color: var(--text-blue);
}
.o-input__bar{
    position:relative;
    display:block;
    width:100%;
}
.o-input__bar:before, .o-input__bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:0;
    position:absolute;
    background: var(--blue);
    transition:0.2s ease all;
}
.o-input__bar:before {
    left:50%;
}
.o-input__bar:after {
    right:50%;
}
/* errors */
.o-input__errors{
    padding-top: .5rem;
    color: var(--text-red);
    font-size: var(--type-size-sm);
}
.o-input__errors .o-input__error_item{
    display: block;
    width: 100%;
}
.o-input.o-input--error .o-input__input, .o-input.o-input--error .o-input__textarea{
    border-color: var(--red);
}
.o-input.o-input--error .o-input__bar:before, .o-input.o-input--error .o-input__bar:after {
    background: var(--red);
}
.o-input.o-input--error .o-input__input:focus ~ .o-input__label, .o-input.o-input--error .o-input__textarea:focus ~ .o-input__label{
    color: var(--text-red);
}
/* active state */
.o-input__input:focus ~ .o-input__bar:before, .o-input__input:focus ~ .o-input__bar:after,
.o-input__textarea:focus ~ .o-input__bar:before, .o-input__textarea:focus ~ .o-input__bar:after {
    width:50%;
}
/* --------------------------
 * Select
 */
/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.o-select-box{
    position: relative;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.o-select__label{
    color: color(var(--text-black) alpha(25%));
    font-size: var(--type-size-sm);
    pointer-events: none;
    position: absolute;
    left:5px;
    top: .5rem;
    transition: 0.2s ease all;
}
.o-select {
	position: relative;
	display: block;
    border: 1px solid color(var(--black) alpha(15%));
    border-radius: .3rem;
    box-shadow: var(--glow-light);
    background: var(--white);
    margin-top: .5rem;
}
.o-select::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid color(var(--black) alpha(25%));
    margin-top: -3px;
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    z-index: 2;
    pointer-events: none;
    display: none;
}
/* Hover style */
.o-select:hover{
    border-color: color(var(--black) alpha(25%));
}
.o-select:hover::after{
    border-top: 6px solid color(var(--black) alpha(35%));
}
/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.o-select select {
    width: 100%;
    margin: 0;
    outline: none;
    padding: .7rem 1rem .8rem 1rem;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    line-height:1.3;
    border-radius: .3rem;
    cursor: pointer;
}
/* Focus style */
.o-select select:focus{
    outline: none;
    box-shadow: 0 0 0 1px var(--blue), var(--shadow-default);
    color: var(--text-blue);
    border-color: var(--blue);
}
@supports ( -webkit-appearance: none ) or ( appearance: none )
	/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
	 * @supports ( mask-type: alpha ) is Firefox 35+
	 */
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

	/* Show custom arrow */
	.o-select::after {
		display: block;
	}
	/* Remove select styling */
	.o-select select {
		padding-right: 2em; /* Match-01 */
		/* inside @supports so that iOS <= 8 display the native arrow */
		background: none; /* Match-04 */
		/* inside @supports so that Android <= 4.3 display the native arrow */
		border: 1px solid transparent; /* Match-05 */
        /* needs vendor-prefixed as they are not added by gulp */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.o-select select:focus {
		border-color: var(--blue);
	}
}
/* --------------------------
 * Toggle
 */
.o-toggle{
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}
.o-toggle__label{
    display: flex;
    cursor: pointer;
}
.o-toggle__text{
    flex: 1;
    padding-left: 1rem;
    padding-top: .2rem;
}
.o-toggle__switch {
    position: relative;
    display: block;
    margin-top: .5rem;
    height: 16px;
    width: 44px;
    background: var(--light-gray);
    border-radius: 100px;
    transition: all 0.3s ease;
}
.o-toggle__switch:after {
    left: 20px;
    position: absolute;
    left: -2px;
    top: -.5rem;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: var(--white);
    box-shadow: var(--shadow-default);
    content: '';
    transition: all 0.3s ease;
}
.o-toggle__switch:active:after {
    transform: scale(1.15, 0.85);
}
.o-toggle__checkbox:checked ~ .o-toggle__label .o-toggle__switch {
    background: color(var(--blue) alpha(50%));
}
.o-toggle__checkbox:checked ~ .o-toggle__label .o-toggle__switch:after {
    left: 20px;
    background: var(--blue);
}
.o-toggle__checkbox:disabled ~ .o-toggle__label .o-toggle__switch {
    background: var(--white)-gray;
    pointer-events: none;
}
.o-toggle__checkbox:disabled ~ .o-toggle__label .o-toggle__switch:after {
    background: var(--light-gray);
    box-shadow: var(--shadow-light);
}
.o-toggle__checkbox {
    display: none;
}
/* --------------------------
 * File
 */
.o-file__input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.o-file__label{
    display: block;
    cursor: pointer;
}
