.o-fragment{
    position: relative;
    /*overflow: hidden;*/
    border-radius: .2rem;
    padding: .5rem;
    transition: all .5s ease;
    box-shadow: 0 0 0 .1rem var(--white);
    min-height: 5rem;
}
.o-fragment.toggable .o-fragment__content{
    max-height: 200px;
    overflow: hidden;
    padding-bottom: 40px;
}
.o-fragment.toggable.is-toggled .o-fragment__content{
    max-height: none;
}
.o-fragment__toggler{
    z-index: 100;
    content: "";
    display: block;
    width: calc(100% - 2px);
    text-align: center;
    padding: 20px 0 10px;
    position: absolute;
    bottom: 0;
    left: 1px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1) 30%);
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}
.o-fragment__toggler:hover{
    text-decoration: underline;
}
.o-fragment:hover{
    box-shadow: 0 0 0 .1rem var(--light-gray);
}
.o-fragment .c-settings-panel__toggle{
    z-index: 500;
    opacity: 0;
    transition: opacity .5s ease;
}
.o-fragment:hover > .c-settings-panel__toggle{
    opacity: 1;
}
.o-fragment--section{
    padding: 1rem;
    position: relative;
    border: 1px dashed var(--white-gray);
}
.o-fragment--text{
    box-shadow: 0 0 0 .1rem var(--white-gray)
}
.o-fragment--section:hover{
    border: 1px solid var(--white-gray);
    box-shadow: 0 0 0 .1rem var(--white);
}
.o-fragment .c-fragment-new-section{
    display: none;
}
.o-fragment:hover > .o-user-grid > .c-fragment-new-section{
    display: block;
}

.o-fragment__image-upload{
    height: 100%;
}

.o-fragment__image-delete{
    position: relative;
    width: 100%;
    min-height: 10rem;
    border-radius: 3px;
    text-align: center;
    background: var(--white-tint);
}
.o-fragment__image{
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    max-height: 300px;
}
.o-fragment__image-upload.is-empty .o-fragment__image{
    display: none;
}
.o-fragment__image-upload:not(.is-empty) .o-file{
    display: none;
}
.o-fragment__image-upload:not(.is-empty){
    background: var(--white-gray);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.o-fragment__image{
    display: inline-block;
}
.c-fragment__image-delete-button{
    display: none;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.o-fragment__image-upload:not(.is-empty)::after{
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(var(--black) alpha(75%));
    border-radius: 3px;
    z-index: 1;
}
.o-fragment__image-upload:not(.is-empty):hover::after,
.o-fragment__image-upload:not(.is-empty):hover .c-fragment__image-delete-button{
    display: block;
}
.o-fragment .o-file{
    height: 100%;
}
.c-fragment--custom-add{
    border: 1px dashed var(--white-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-fragment--custom-add:hover{
    box-shadow: none;
    border: 1px dashed var(--light-gray);
}
.c-fragment-settings-dialog{
    min-width: 30rem;
}
.c-fragment-new{
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
    background: var(--white-gray);
    cursor: pointer;
    color: var(--gray);
    box-shadow: 0 0 0 .1rem var(--white-gray);
}
.c-fragment-new:hover{
    background: var(--light-gray);
    box-shadow: 0 0 0 .1rem var(--light-gray);
    color: var(--dark-gray);
}
.c-fragment-new__selection{
    box-shadow: none;
    display: block;
    height: 6rem;
    border-radius: .3rem;
    background: var(--white-gray);
    text-align: center;
    padding-top: 2rem;
    color: var(--gray);
}
.c-fragment-new__image{
    padding-top: 2rem;
}
.c-fragment-new__selection:hover{
    background: var(--blue);
    color: var(--white);
}
.c-fragment-new__selection--no-padding{
    padding: 0;
}
.c-fragment--custom{
    padding: 1rem;
    position: relative;
    border: 1px dashed var(--white-gray);
}
.c-fragment--custom:hover{
    border: 1px solid var(--white-gray);
    box-shadow: 0 0 0 .1rem var(--white);
}
.c-sortable-fragment__handle{
    opacity: 0;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: -.5rem;
    left: 0;
}
.c-sortable-fragment__handle::before{
    content: "";
    background: var(--light-gray);
    width: 2rem;
    height: .8rem;
    border-radius: .2rem;
    position: absolute;
    top: .1rem;
    left: calc(50% - 1rem);
    cursor: move;
    transition: background .5s ease;
}
.o-fragment:hover > .c-sortable-fragment__handle{
    opacity: 1;
}
.c-sortable-fragment__handle::after{
    cursor: move;
    content: "";
    opacity: .15;
    display: block;
    width: 1.6rem;
    top: .3rem;
    left: calc(50% - .8rem);
    position: absolute;
    height: .4rem;
    border-top: .1rem solid var(--black);
    border-bottom: .1rem solid var(--black);
    transition: border-color .5s ease, opacity .5s ease;
}
.c-sortable-fragment__handle:hover::before{
    background: var(--blue);
}
.c-sortable-fragment__handle:hover::after{
    opacity: .5;
    border-color: var(--white);
}
.c-fragment-placeholder{
    position: relative;
    padding: 0 .2rem;
    max-height: 250px;
}
.c-fragment-placeholder:before{
    content: "";
    display: block;
    background: var(--blue);
    border-radius: .2rem;
    position: absolute;
    top: 0rem;
    left: .2rem;
    bottom: 0rem;
    right: .2rem;
}

.u-show-on-fragment-hover-item{
    display: none;
}
.u-show-on-fragment-hover-parent:hover > .u-show-on-fragment-hover-item,
.CodeMirror-focused ~ .u-show-on-fragment-hover-item{
    display: block;
}
.o-fragment .CodeMirror.cm-s-mark{
    font-size: 1.6rem; /* now 1rem = 10px*/
}
