.o-icon{
    position: relative;
    fill: inherit;
    width: 100%;
    height: 100%;
}
.o-icon--white{
    fill: var(--white);
}
.o-icon--blue{
    fill: var(--blue);
}
.o-icon--green{
    fill: var(--green);
}
.o-icon--red{
    fill: var(--red);
}
.o-icon--sm{
   height: 2rem;
   width: auto;
}
 .o-icon--md{
    height: 3rem;
    width: auto;
 }
 /*
  * Specific icons
  */
.o-icon--loading-circle{
    animation: loading-circle-animation .5s infinite linear;
}
@keyframes loading-circle-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ICON: PROJECTS */
@keyframes ani-icon-project {
    0%{
      fill: var(--blue);
    }
    50%{
        width: 45%;
        height: 45%;
        rx: 0;
        ry: 0;
        fill: var(--white-tint);
    }
    90%{
        width: 45%;
        height: 45%;
        rx: 0;
        ry: 0;
        fill: var(--blue);
    }
    100%{
        width: 45%;
        height: 45%;
        rx: 0;
        ry: 0;
        fill: color(var(--blue) alpha(0));
    }
}
.o-icon--projects [class*="fill-"]{
    width: 0;
    height: 0;
    rx: 20;
    ry: 20;
    fill: rgba(55,115,215,0);
}
*:hover > .o-icon--projects [class*="fill-"]{
    animation: ani-icon-project .3s linear 1;
    animation-fill-mode: forwards;
}
*:hover > .o-icon--projects .fill-top-right{
    animation-delay: .25s;
}
*:hover > .o-icon--projects .fill-bottom-left{
    animation-delay: .2s;
}
*:hover > .o-icon--projects .fill-bottom-right{
    animation-delay: .3s;
}
.o-icon--projects{
    position: relative;
    fill: black;
    transition: fill 1s ease;
}
*:hover > .o-icon--projects{
    transition: fill .75s ease;
    fill: var(--blue);
}
