/* ------------
 * Navigation
 */
/* ------------
 * Navigation Header
 */

.c-navigation__icon{
    cursor: pointer;
    flex: 0 0 var(--header-height);
    height: 100%;
}
.c-navigation__icon--right{
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(90deg, color(var(--yellow) alpha(0)) 0, var(--yellow) 20%, var(--yellow) 100%);
}

.c-navigation__icon--light .o-icon{
    opacity: .25;
    transition: opacity .3s ease;
}
.c-navigation__icon--light:hover .o-icon{
    opacity: 1;
}
.c-navigation__icon .o-icon{
    margin: 1.5rem;
    height: 3rem;
    width: 3rem;
    z-index: 10;
    position: relative;
}
/* ------------
 * Navigation List
 */




.c-navigation__delete{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--item-height);
    width: var(--item-height);
    padding: 1.5rem;
    background-color: color(var(--black) alpha(5%));
    transition: opacity .3s ease;
    z-index: 20;
}
.c-navigation__delete:hover{
    transition: color .3s ease, background-color .3s ease;
    background-color: color(var(--black) alpha(15%));
}
.c-navigation__item:hover .c-navigation__delete, .c-navigation__item.is-active .c-navigation__delete{
    opacity: 1;
}
