.o-notice{
    border-radius: .5rem;
    padding: 1rem 1rem 2rem 1rem;
    border: 1px solid color(var(--blue) alpha(25%));
    background-color: color(var(--blue) lightness(95%));
    color: var(--text-blue);
}
.o-notice--success{
    border-color: color(var(--green) alpha(25%));
    background-color: color(var(--green) lightness(95%));
    color: var(--text-green);
}
.o-notice--warning{
    border-color: color(var(--yellow) alpha(25%));
    background-color: color(var(--yellow) lightness(95%));
    color: var(--text-black);
}
.o-notice--space-around{
    margin: 3rem 0;
}
.o-inline-notice{
    padding: 1rem 0 2rem 0;
    font-weight: var(--bold);
    color: var(--text-blue);
}

.o-status{
    position: relative;
    z-index: 800;
    margin: 0;
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    min-height: 6rem;
    background-color: color(var(--blue) lightness(95%));
    border-bottom: .1rem solid var(--blue);
    color: var(--text-blue);
}
.o-status--success{
    background-color: color(var(--green) lightness(95%));
    border-color: var(--green);
    color: var(--text-green);
}
.o-status--warning{
    background-color: color(var(--yellow) lightness(95%));
    border-color: var(--yellow);
    color: var(--text-black);
}
.o-status--error{
    background-color: color(var(--red) lightness(95%));
    border-color: var(--red);
    color: var(--text-red);
}
.o-status__hide{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    box-sizing: border-box;
    padding: 2rem;
    cursor: pointer;
}
.o-status__hide:hover{
    background-color: color(var(--black) alpha(5%));
}
