// ********************
// Icons general
//
[class*="icon-"]{
  position: relative;
  display: block;
  width: @base-icon-size;
  height: @base-icon-size;
  fill: @white;
}
// ********************
// Specific icon styles
