// *****************
//  Fonts
//
@font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
@font-regular: 400;
@font-bold: 600;
// *****************
//  Typography
//
@base-font-size: 1.6rem;
@small-font-size: 1.3rem;

.font-size( @size: base ){
  font-size: @@fsize;
  line-height: @@fsize * 1.4;

  @fsize: '@{size}-font-size';
}
// *****************
//  Colors
//
@brand-yellow: rgb(255,210,0);
@brand-yellow-dark: rgb(240,190,0);

@blue: rgb(65,125,225);
@red: rgb(230,75,60);

@white: rgb(255,255,255);

@lightest-gray: rgb(242,246,250);
@light-gray: rgb(224,230,237);
@medium-light-gray: rgb(204,210,217);
@medium-gray: rgb(144,150,157);
@gray: rgb(44,50,57);
@dark-gray: rgb(35,40,45);
@darkest-gray: rgb(15,20,25);

// *****************
//  Gradients
//
.grad-white-transparent-top-right(){
  background-image: radial-gradient(at top right,@white 0,@white 50%,transparent 80%);
}
// *****************
//  Radii
//
.circle(){
  border-radius: 50%;
}
.rounded-corners(){
  border-radius: .4rem;
}
.rounded-corners-xs(){
  border-radius: .2rem;
}
// *****************
//  shadows
//
.shadow-sm(){
  box-shadow: 0 1px 2px fade(@darkest-gray,15%);
}
.shadow-sm--light(){
  box-shadow: 0 1px 2px fade(@darkest-gray,7.5%);
}
// *****************
//  units
//
@base-unit: .5rem;
@medium-unit: .8rem;

@size-xs: @base-unit;
@size-xsplus: @medium-unit;
@size-sm: @base-unit*2;
@size-smplus: @base-unit*3;
@size-md: @base-unit*4;
@size-mdplus: @base-unit*5;
@size-lg: @base-unit*6;
@size-lgplus: @base-unit*7;
@size-xl: @base-unit*8;
@size-xlplus: @base-unit*9;
// *****************
//  Timing
//
@base-transition-duration: .5s;
@base-transition-ease: ease;
@base-transition-delay: 0;
// *****************
//  Icons
//
@base-icon-size: 2rem;
@base-icon-margin: .5rem;
@medium-icon-margin: 1rem;
@large-icon-margin: 2rem;
