:root{
    --sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

    --type-size-default: 1.6rem;
    --type-size-xxl: var(--type-size-default)*2;
    --type-size-xl: var(--type-size-default)*1.5;
    --type-size-lg: var(--type-size-default)*1.25;
    --type-size-md: var(--type-size-default)*1.125;
    --type-size-sm: var(--type-size-default)*.875;

    --line-height-xxl: var(--type-size-xl);
    --line-height-xl: var(--type-size-lg);

    --bold: 600;

}
